* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    margin: 15px;
    text-decoration: none;
}

.nav {
    color: white;
    text-decoration: none;
}

header {
    background-color: rgb(8, 8, 70);
}

main {
    background-color: darkcyan;
}